div.search input {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 90%;
	width: calc(100% - 48px);
	background: #f1f1f1;
}

div.search button {
	float: left;
	width: 48px;
	padding: 10px;
	background: #333;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}

div.search button:hover {
	background: #555;
}

div.search::after {
	content: "";
	clear: both;
	display: table;
}