body {
	margin: 0;
}

.header {
	color: white;
	margin: 0;
	background: radial-gradient(#0A99AF,#057586);
	padding: 0.8em;
}

.column.side {
	float: left;
	width: 15%;
	height: 100vh;
	color: #111;
	text-align: center;
}

.column.middle {
	float: left;
	width: 85%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	background-color: #222;
	padding: 10px;
}

.column.side img {
	margin-top: 20px;
	width: 60%;
}

@media screen and (max-width: 1024px) {
	.column.middle {
		width: 100%;
	}
	.column.side {
		display: none;
	}
}